.header_section {
  background-image: url("../../../public/asset/images/background.png");
  background-position: center center;

  &_section_image {
    /*@media screen and (min-width: 425px) and (max-width: ) {
      
    }*/
  }

  .box {
    background-image: url("../../../public/asset/images/bg.png");

    &._wrapper_absolute {
      height: max-content !important;
    }
  }
}