@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");

  }
  @font-face {
    font-family: 'Cabinet-Grotesk-Regular';
    font-style: normal;
    src: url("../public/asset/fonts/cabinet-grotesk-cufonfonts-webfont/CabinetGrotesk-Regular.woff") format('woff');
  }


  @font-face {
    font-family: 'Cabinet-Grotesk-Thin';
    font-style: normal;
    src:url('../public/asset/fonts/cabinet-grotesk-cufonfonts-webfont/CabinetGrotesk-Thin.woff') format('woff');
  }


  @font-face {
    font-family: 'Cabinet Grotesk Extralight';
    font-style: normal;
    src:url('../public/asset/fonts/cabinet-grotesk-cufonfonts-webfont/CabinetGrotesk-Extralight.woff') format('woff');
  }


  @font-face {
    font-family: 'Cabinet Grotesk Light';
    font-style: normal;
    src:url('../public/asset/fonts/cabinet-grotesk-cufonfonts-webfont/CabinetGrotesk-Light.woff') format('woff');
  }


  @font-face {
    font-family: 'Cabinet Grotesk Medium';
    font-style: normal;
    font-weight: 500;
    src:url('../public/asset/fonts/cabinet-grotesk-cufonfonts-webfont/CabinetGrotesk-Medium.woff') format('woff');
  }


  @font-face {
    font-family: 'Cabinet Grotesk Bold';
    font-style: normal;
    src:url('../public/asset/fonts/cabinet-grotesk-cufonfonts-webfont/CabinetGrotesk-Bold.woff') format('woff');
  }


  @font-face {
    font-family: 'Cabinet Grotesk Extrabold';
    font-style: normal;
    src:url('../public/asset/fonts/cabinet-grotesk-cufonfonts-webfont/CabinetGrotesk-Extrabold.woff') format('woff');
  }


  @font-face {
    font-family: 'Cabinet Grotesk Black';
    font-style: normal;
    src:url('../public/asset/fonts/cabinet-grotesk-cufonfonts-webfont/CabinetGrotesk-Black.woff') format('woff');
  }

}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #240053 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}


